*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #D9EDFF;
}

.content {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}

.toggle-btn {
    display: none;
}

.logo {
    font-weight: 400;
    font-size: 1.5rem;
    color: #FFA62B;
    text-transform: uppercase;
    margin-left: 6.4rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    padding: 2.2rem 6.4rem;
    gap: 2.6rem;
}

.links ul {
    list-style: none;
    display: flex;
    gap:1.8rem;
}

.links a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
}

.links a:hover{
    color: #FFA62B;
}

.nav-btn {
    border: none;
    color: white;
    background-color: #FFA62B;
    border-radius: 0.6rem;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: capitalize;
    padding: 0.8rem 1.6rem;
}

.nav-btn:hover {
    background-color: #ffe8c7;
    cursor: pointer;
}

.herosection {
    display: flex;
    flex-direction: column;
    margin: 16rem 0;
}

.herotexts {
    margin-left: 6.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.herotexts h1 {
    max-width: 26rem;
    font-weight: 800;
    font-size: 3rem;
    text-transform: capitalize;
}

.herotexts p {
    font-weight: 400;
    font-size: 1rem;
    max-width: 28.3rem;
}

.herobtns {
    display: flex;
    margin: 2rem 6.4rem;
    gap: 1.3rem;
}

.joinus {
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: white;
    border: none;
    background-color: #00A0C1;
    border-radius: 1.7rem;
    padding: 1.1rem 3.4rem;
}

.learnnmore {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #00A0C1;
    border: 0.1rem solid;
    background-color: transparent;
    border-radius: 1.7rem;
    padding: 1.1rem 3rem;
}

.joinus:hover {
    font-weight: 400;
    color: #00A0C1;
    background-color: transparent;
    border: 0.1rem solid;
    cursor: pointer;
}

.learnnmore:hover {
    font-weight: 800;
    color: white;
    background-color: #00A0C1;
    cursor: pointer;
}